.container{
    display: flex;
    flex-direction: row; /*Propriedade utilizada para colocar os elementos em linha ou coluna*/
    flex-wrap: wrap; /*Propriedade utilizada para quebrar ou não os elementos quando a página for dimensionada*/
    flex-flow: column wrap; /* É uma abreviação das propriedades direction e wrap */
}

.container div {
    background-color: aqua;
    color: white;
    width: 100px;
    height: 100px;
    margin: 10px;
}



